
    <div *ngIf="artList && !artList.length>0">
        No results found
    </div>

           <loader [hidden]="!isloading"></loader>
<masonry [options]="myOptions">
       <masonry-brick class="brick"  *ngFor="let item of artList">
      <a  class="left black-text"
             style="font-family:Century751 BT; font-style:italic; margin-top:-10px; cursor: pointer">
              <img (click)=" removefav(item.artwork,item.art.id)" *ngIf="item.isfav" src="images/redheart.png" style="display:inline;" />
              <img (click)="addtofav(item.artwork,item.art.id)" *ngIf="!item.isfav" src="images/heart.png" style="display:inline;" />
               Favourite </a>
            <a routerLink="/art/{{item.art.id}}">    
                <image 
                [src]  ="urlstring + item.art.pictureUrl" 
                 [alt]="item.art.title"
                 [width]="''"></image>
           
                 </a>
            <div class="card-content">
            <h6 class="left">{{item.art.title}}</h6> <h6 class="right">Price ${{item.art.price}}</h6> <br /> 
            <div class="row"> <p style="margin-left:10px;"> by {{item.userId}}<br/>
{{item.art.width}} X {{item.art.height}} {{item.art.dimensionUnit}} <br/>
Mixed Media on Canvas  <a routerLink="/account/contact/{{item.id}}" class="waves-effect waves-light btn white black-text right" style="border:1px solid #000;
 margin-top:-20px;">Contact Artist</a> 
</p> </div></div>
      </masonry-brick>
     </masonry>
  