
    <div class="col l7 offset-l2">
    <div *ngIf="!OTP" class="row" id="reg">
        <h3 class="center"> Forget Password </h3>
        <form (ngSubmit)="resetPassword(otpform.value)" #otpform="ngForm">
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="row">
                <div class="input-field col s12 m3 l3">
                    <span class="lable"> User Name<sup>*</sup></span>
                </div>
                <div class="input-field col s12 m9 l9">
                    <input asp-for="UserName" class="validate box-style" required 
                    [(ngModel)]="model.username" name="username"
                    #username="ngModel" />
                    <span asp-validation-for="username" class="text-danger"></span> 
                </div>                
            </div>
            <div [hidden]="!isOtp">
            <div class="row">
                <div class="input-field col s12 m3 l3">
                    <span class="lable"> OTP<sup>*</sup></span>
                </div>
                <div class="input-field col s12 m9 l9">
                    <input asp-for="OTP" class="validate box-style" required 
                    [(ngModel)]="model.code" name="code"
                    #code="ngModel" />
                    <span asp-validation-for="OTP" class="text-danger"></span> 
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12 m3 l3">
                    <span class="lable"> Password<sup>*</sup></span>
                </div>
                <div class="input-field col s12 m9 l9">
                    <input asp-for="Password" class="validate box-style" required 
                    [(ngModel)]="model.password" name="password"
                    #password="ngModel" />
                    <span asp-validation-for="password" class="text-danger"></span> 
                </div>
            </div>
               
        </div>
            <loader [hidden]="!isloading"></loader>
            <button *ngIf="isOtp" class="waves-effect waves-light btn right white black-text" 
             [disabled]="!otpform.form.valid"
             [disabled]="isloading" 
             style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
             <i class="material-icons right">fast_forward</i>
              {{onebtnText}}
             </button>
             <a  *ngIf="!isOtp" class="waves-effect waves-light btn right white black-text" 
            (click)="sendOTP(model.username)"
             style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
             <i class="material-icons right">fast_forward</i>
             Send OTP
             </a>
          </form>
    </div> <!-- /registartion ends-->
 