    <loader [hidden]="!isloading"></loader>
 <div class="row">
          <div class="col s12 m4 l4" *ngFor="let item of artList">
            <a  class="left black-text"
             style="font-family:Century751 BT; font-style:italic; margin-top:-10px; cursor: pointer">
              <img (click)="addtofav(item,item.id)" *ngIf="item.isfav" src="images/redheart.png" style="display:inline;" />
              <img (click)="removefav(item,item.id)" *ngIf="!item.isfav" src="images/heart.png" style="display:inline;" />
               Favourite </a>
            <a routerLink="/art/{{item.id}}">    
                <image 
                [src]  ="urlstring + item.pictureUrl" 
                 [alt]="item.title"
                 [width]="''"></image>
           
                 </a>
            <div class="card-content">
            <h6 class="left">{{item.title}}</h6> <h6 class="right">Price ${{item.price}}</h6> <br /> 
            <div class="row"> <p style="margin-left:10px;"> by {{item.userId}}<br/>
{{item.width}} X {{item.height}} {{item.dimensionUnit}} <br/>
Mixed Media on Canvas  <a href="contactartist.html" class="waves-effect waves-light btn white black-text right" style="border:1px solid #000;
 margin-top:-20px;">Contact Artist</a> 
</p> </div>
            </div>
            </div>
       </div>